@model MoviesShowMovieViewModel
<div class="row">
    <div class="col col-lg-4 mx-auto">
        <div class="card" style="width: 18rem;">
            <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
            <img src="/images/@Model.Image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Model.Genre.Title</h6>
                <h6>Directors</h6>
                @foreach (var director in Model.Directors)
                {
                    <a asp-controller="People"
                       asp-action="ShowDirectorMovies"
                       asp-route-id="@director.Id">
                        @director.Firstname @director.Surname
                    </a>
                }
                <h6>Actors</h6>
                @foreach (var actor in Model.Actors)
                {
                    <a asp-controller="People"
                       asp-action="ShowActorMovies"
                       asp-route-id="@actor.Id">
                        @actor.Firstname @actor.Surname
                    </a>
                }
            </div>
            <div class="card-footer text-center">
                <a href="@Context.Request.Headers.Referer" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>